extends layout 

block content 
     app-home-list 
//-     center 
//-         h1 Product List 
//-         div.mar
//-             div.shadow-lg.p-3.bg-white.rounded.m-5
//-              Center 
//-                  Div  
//-                     //- h1 Lattest Release
//-                     div.row
//-                         each product in currentProduct
//-                             div.col-4.c
//-                                 div
//-                                     a.card.shadow-sm.mb-5.bg-white.rounded.text-decoration-none(href=`/list/${product._id}`) 
//-                                         div 
//-                                              img(src=product.Image alt="Loading..").w-25.mt-5
//-                                              h2  #{product.Name}
   
                                        
                                        

                    
                    
                        